<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.oculus.Integration" android:versionName="1.0.0" android:versionCode="1">
  <uses-sdk android:targetSdkVersion="21" />
  <application>
    <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
